@(title: String)
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>@title - SDKMAN! the Software Development Kit Manager</title>
    <link href='@routes.Assets.at("/img/favicon.ico")' type='image/x-ico' rel='icon'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/bootstrap.css")'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/font-awesome.min.css")'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/style.css")'/>
</head>
