@(title: String)
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>@title - SDKMAN! the Software Development Kit Manager</title>
    <link href='@routes.Assets.at("/img/favicon.ico")' type='image/x-ico' rel='icon'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/bootstrap.css")'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/font-awesome.min.css")'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/style.css")'/>
    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("/css/carbon.css")'/>

    <!-- Social bits -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://sdkman.io/' />
    <meta property='og:title' content='@title - SDKMAN! the Software Development Kit Manager' />
    <meta property='og:description' content='SDKMAN! is a tool for managing parallel versions of multiple Software Development Kits on most Unix based systems.' />
    <meta property='og:image' content='https://sdkman.io/assets/img/bubble-logo-sdkman-groovy-color.png' />
    <meta property='og:site_name' content='SDKMAN!' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@@sdkman_' />
    <meta name='twitter:creator' content='@@sdkman_' />
</head>
