<div class='navbar navbar-default navbar-static-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse'
                    data-target='.navbar-collapse'>
                <span class='sr-only'></span><span class='icon-bar'></span><span
                    class='icon-bar'></span><span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>
                <img class='sdk-logo' src='@routes.Assets.at("/img/logo.png")'></img>
            </a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav navbar-right'>
                <li class=''><a href='/install'>Install</a></li>
                <li class=''><a href='/jdks'>JDKs</a></li>
                <li class=''><a href='/sdks'>SDKs</a></li>
                <li class=''><a href='/usage'>Usage</a></li>
                <li class=''><a href='/vendors'>Vendors</a></li>
                <li>
                    <a data-effect='st-effect-9' class='st-trigger' href='#'>Socialize</a>
                </li>
            </ul>
        </div>
    </div>
</div>
