<nav class='st-menu st-effect-9' id='menu-12'>
    <h2 class='icon icon-lab'>Socialise</h2>
    <ul>
        <li>
            <a href='https://gitter.im/sdkman/user-issues' class='icon'><span class='fa fa-envelope'></span> Discuss
                on Gitter</a>
        </li>
        <li>
            <a href='https://twitter.com/sdkman_' class='icon'><span class='fa fa-twitter'></span> SDKMAN! on
                Twitter</a>
        </li>
        <li>
            <a href='https://github.com/sdkman' class='icon'><span class='fa fa-github'></span> Source code on
                GitHub</a>
        </li>
        <li>
            <a href='https://github.com/sdkman/sdkman-cli/issues' class='icon'><span class='fa fa-bug'></span>
                Report issues on GitHub</a>
        </li>
        <li>
            <a href='http://stackoverflow.com/questions/tagged/sdkman' class='icon'><span
                    class='fa fa-stack-overflow'></span> Stack Overflow questions</a>
        </li>
        <li>
            <a href='http://status.sdkman.io' class='icon'><span class='fa '></span> StatusPage.io</a>
        </li>
    </ul>
</nav>
