#carbonads {
    display: block;
    overflow: hidden;
    padding: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    max-width: 400px;
}

#carbonads a {
    text-decoration: none;
}

#carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
}

.carbon-img {
    float: right;
    margin-left: 1em;
}

.carbon-img img {
    display: block;
}

.carbon-text {
    display: block;
    float: right;
    line-height: 1.4;
    max-width: calc(100% - 130px - 1em);
    text-align: right;
}

.carbon-poweredby {
    position: absolute;
    right: calc(130px + 1rem);
    bottom: 0;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

.carbon-band {
    display: flex;
    justify-content: flex-end;
}