@()(implicit request: Request[AnyContent])
@main(title = "Home", request) {
@includes.advertisement()
<div id='band' class='band'></div>
<div id='content'>
    <section class="row colset-2-its">
        <h1>Get started now!</h1>

        <p>
            Go on then, paste and run the following in a terminal:
            <br>
            <code>
            curl -s "https://get.sdkman.io" | bash
            </code>
        </p>

        <h1>The Software Development Kit Manager</h1>

        <p id="main-paragraph">
            Meet <strong>SDKMAN!</strong> – your reliable companion for effortlessly managing multiple Software
            Development Kits on Unix systems. Imagine having different versions of SDKs and needing a stress-free
            way to switch between them. SDKMAN! steps in with its easy-to-use Command Line Interface (CLI) and API.

            Formerly known as GVM, the Groovy enVironment Manager, SDKMAN! draws inspiration from familiar tools like
            apt, pip, RVM, and rbenv and even Git. Think of it as your helpful toolkit friend, ready to streamline SDK
            management for you. 🛠️
        </p>

        <div class="col1">
            <article>
                <div class="icon icon-1"></div>
                <h1>By Developers, for Developers</h1>

                <p>
                    Simplifying life. No more hunting for downloads, extracting archives, or tinkering with
                    <code>_HOME</code> and <code>PATH</code> environment variables.
                </p>
            </article>
            <article>
                <div class="icon icon-7"></div>
                <h1>Java all the way down</h1>

                <p>
                    Install Software Development Kits for the JVM such as Java, Scala,
                    Kotlin and Groovy.
                    Ant, Gradle, Grails, Maven, SBT, Spark, Spring Boot, Vert.x and many others
                    also supported.
                </p>
            </article>
            <article>
                <div class="icon icon-6"></div>
                <h1>Lightweight</h1>

                <p>
                    Written in Rust and bash and only requires <strong>curl</strong>, <strong>zip</strong>, and
                    <strong>unzip</strong> dependencies to be present on your system. Even works with
                    <a href="http://www.zsh.org/">ZSH</a> too.
                </p>
            </article>
        </div>

        <div class="col2">
            <article>
                <div class="icon icon-4"></div>
                <h1>Multi-platform</h1>

                <p>
                    Operates seamlessly across various UNIX-based platforms, including macOS, Linux, and Windows
                    Subsystem for Linux (WSL) on Windows.
                </p>
            </article>
            <article>
                <div class="icon icon-5"></div>
                <h1>APIs</h1>

                <p>
                    New Clients can easily be written by consuming our open Broker API.
                    Vendors can publish and announce their own releases through a secure Vendor API.
                </p>
            </article>
            <article>
                <div class="icon icon-3"></div>
                <h1>Open Source</h1>
                <p>
                    Backed by a global community of developers.
                    <br>
                    Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>
                </p>
            </article>
        </div>
    </section>

    @includes.opencollective()

    <div class="community-opinion">
        <img class="city-img" src="@routes.Assets.at(" /img/city.png")">
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
}