@()(implicit request: Request[AnyContent])
@main(title = "Home", request) {
@includes.advertisement()
<div id='band' class='band'></div>
<div id='content'>
    <section class="row colset-2-its">
	 <h1>Get started now!</h1>

        <p>
            Go on, paste and run the following in a terminal:
            <br>
            <code>
            curl -s "https://get.sdkman.io" | bash
            </code>
        </p>

        <h1>The Software Development Kit Manager</h1>

        <p id="main-paragraph">
            <strong>SDKMAN!</strong> is a tool for managing parallel versions of multiple <strong>Software
            Development Kits</strong>
            on most Unix based systems. It provides a convenient Command Line Interface (CLI) and
            API for installing, switching,
            removing and listing Candidates. Formerly known as <strong>GVM</strong> the <strong>Groovy
            enVironment Manager</strong>,
            it was inspired by the very useful <strong><a href="https://rvm.io/">RVM</a></strong>
            and
            <strong><a href="https://github.com/sstephenson/rbenv">rbenv</a></strong> tools, used
            at large by the Ruby community.
        </p>

        <div class="col1">
            <article>
                <div class="icon icon-1"></div>
                <h1>By Developers, for Developers</h1>

                <p>
                    Making life easier. No more trawling download pages, extracting archives,
                    messing with <code>_HOME</code> and <code>PATH</code> environment variables.
                </p>
            </article>
            <article>
                <div class="icon icon-2"></div>
                <h1>Java all the way down</h1>

                <p>
                    Install Software Development Kits for the JVM such as Java, Groovy, Scala,
                    Kotlin and Ceylon.
                    Ant, Gradle, Grails, Maven, SBT, Spark, Spring Boot, Vert.x and many others
                    also supported.
                </p>
            </article>
            <article>
                <div class="icon icon-6"></div>
                <h1>Lightweight</h1>

                <p>
                    Written in <a href="https://www.gnu.org/software/bash/">bash</a> and only
                    requires
                    <a href="http://curl.haxx.se/">curl</a> and <a href="http://www.info-zip.org/">zip/unzip</a>
                    to be present on your system. Even works with <a
                        href="http://www.zsh.org/">ZSH</a> too.
                </p>
            </article>
        </div>

        <div class="col2">
            <article>
                <div class="icon icon-4"></div>
                <h1>Multi-platform</h1>

                <p>
                    Runs on any UNIX based platforms: macOS, Linux, Cygwin, Solaris and FreeBSD.
                </p>
            </article>
            <article>
                <div class="icon icon-5"></div>
                <h1>APIs</h1>

                <p>
                    New Clients can easily be written by consuming our open Broker REST API.
                    Vendors can publish and announce their own releases through a secure Vendor API.
                </p>
            </article>
            <article>
                <div class="icon icon-3"></div>
                <h1>Open Source</h1>
                <p>
                    Backed by a global community of developers.
                    <br>
                    Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>
                </p>
            </article>
        </div>
    </section>

    @includes.opencollective()

    <div class="community-opinion">
        <img class="city-img" src="@routes.Assets.at("/img/city.png")">
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
}
