@()
@main(title = "Home") {
@includes.advertisement()
<div id='band' class='band'></div>
<div id='content'>
    <section class="row colset-2-its">
        <h1>Get started now!</h1>

        <p>
            Go on, paste and run the following in a terminal:
            <br>
            <code>
            curl -s "https://get.sdkman.io" | bash
            </code>
        </p>

        <h1>The Software Development Kit Manager</h1>

        <p id="main-paragraph">
            <strong>SDKMAN!</strong> is a tool for managing parallel versions of multiple <strong>Software
            Development Kits</strong>
            on most Unix based systems. It provides a convenient Command Line Interface (CLI) and
            API for installing, switching,
            removing and listing Candidates. Formerly known as <strong>GVM</strong> the <strong>Groovy
            enVironment Manager</strong>,
            it was inspired by the very useful <strong><a href="https://rvm.io/">RVM</a></strong>
            and
            <strong><a href="https://github.com/sstephenson/rbenv">rbenv</a></strong> tools, used
            at large by the Ruby community.
        </p>

        <div class="col1">
            <article>
                <div class="icon icon-1"></div>
                <h1>By Developers, for Developers</h1>

                <p>
                    Making life easier. No more trawling download pages, extracting archives,
                    messing with <code>_HOME</code> and <code>PATH</code> environment variables.
                </p>
            </article>
            <article>
                <div class="icon icon-2"></div>
                <h1>Java all the way down</h1>

                <p>
                    Install Software Development Kits for the JVM such as Java, Groovy, Scala,
                    Kotlin and Ceylon.
                    Ant, Gradle, Grails, Maven, SBT, Spark, Spring Boot, Vert.x and many others
                    also supported.
                </p>
            </article>
            <article>
                <div class="icon icon-6"></div>
                <h1>Lightweight</h1>

                <p>
                    Written in <a href="https://www.gnu.org/software/bash/">bash</a> and only
                    requires
                    <a href="http://curl.haxx.se/">curl</a> and <a href="http://www.info-zip.org/">zip/unzip</a>
                    to be present on your system. Even works with <a
                        href="http://www.zsh.org/">ZSH</a> too.
                </p>
            </article>
        </div>

        <div class="col2">
            <article>
                <div class="icon icon-4"></div>
                <h1>Multi-platform</h1>

                <p>
                    Runs on any UNIX based platforms: macOS, Linux, Cygwin, Solaris and FreeBSD.
                </p>
            </article>
            <article>
                <div class="icon icon-5"></div>
                <h1>APIs</h1>

                <p>
                    New Clients can easily be written by consuming our open Broker REST API.
                    Vendors can publish and announce their own releases through a secure Vendor API.
                </p>
            </article>
            <article>
                <div class="icon icon-3"></div>
                <h1>Open Source</h1>

                <p>
                    Backed by a wonderful community of developers from around the world.
                    <br>
                    Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>
                </p>
            </article>
        </div>
    </section>
    @includes.opencollective()

    <div class="nested-wrapper">
        <div class="nested-opinion second">
            <div class="large bubble left">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">@@sdkmanager
                    you will be glad to know sdkman works on Bash on Ubuntu on Windows.</p>&mdash;
                    Corneil (@@corneil) <a
                            href="https://twitter.com/corneil/status/756749377004269568?ref_src=twsrc%5Etfw">July
                        23, 2016</a></blockquote>
            </div>
        </div>

        <div class="nested-opinion first">
            <div class="large bubble right">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">New blog
                    post: SDKMAN! The Software Development Kit Manager <a
                            href="https://t.co/7VQBofse3l">https://t.co/7VQBofse3l</a> <a
                            href="https://twitter.com/hashtag/blog?src=hash&amp;ref_src=twsrc%5Etfw">#blog</a>
                    <a href="https://twitter.com/sdkman_?ref_src=twsrc%5Etfw">@@sdkman_</a></p>&mdash;
                    Pol Bassiner (@@polbassiner) <a
                            href="https://twitter.com/polbassiner/status/823806476032610304?ref_src=twsrc%5Etfw">January
                        24, 2017</a></blockquote>
            </div>
        </div>
    </div>

    <div class="community-opinion">
        <div class="opinion">
            <div class="large right bubble">
                <blockquote width="325" class="twitter-tweet" data-lang="en-gb"><p lang="en"
                                                                                   dir="ltr">This is
                    amazing! Finally a usable way to manage JDKs. <a href="https://t.co/t0qex0tmmJ">https://t.co/t0qex0tmmJ</a>
                </p>&mdash; Mark Vieira (@@mark_vieira) <a
                        href="https://twitter.com/mark_vieira/status/810943498186727425">19 December
                    2016</a></blockquote>
            </div>
        </div>
        <div class="opinion">
            <div class="left bubble">
                <blockquote width="325" class="twitter-tweet" data-lang="en-gb"><p lang="en"
                                                                                   dir="ltr">There I
                    did it! I ripped out all my old JDKs (including Java 7), and installed latest
                    Java 8 via <a href="https://twitter.com/sdkman_">@@sdkman_</a>. So awesome!</p>&mdash;
                    Greg L. Turnquist (@@gregturn) <a
                            href="https://twitter.com/gregturn/status/822154247181664257">19 January
                        2017</a></blockquote>
            </div>
        </div>

        <div class="opinion">
            <div class="left bubble">
                <blockquote width="325" class="twitter-tweet" data-lang="en-gb"><p lang="en"
                                                                                   dir="ltr">I
                    always struggled with installing and managing my <a
                            href="https://twitter.com/java">@@java</a> tools.<br><br>Now I found <a
                            href="https://twitter.com/sdkman_">@@sdkman_</a>. Sooooo simple! I love
                    it!<br>Kudos <a href="https://twitter.com/sdkman_">@@sdkman_</a> team!</p>&mdash;
                    Giorgos Gaganis (@@ggaganis) <a
                            href="https://twitter.com/ggaganis/status/850820861779206144">8 April
                        2017</a></blockquote>
            </div>
        </div>

        <img class="city-img" src="@routes.Assets.at("/img/city.png")">
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
}
