@(recaptchaEnabled: Boolean, title: String)(content: Html)
@includes.header(title)
<body>
@includes.forkme()
<div id='st-container' class='st-container st-effect-9'>
    @includes.socialise()
    <div class='st-pusher'>
        <div class='st-content'>
            <div class='st-content-inner'>
                @includes.browserhappy()
                <div>
                    @includes.navigation()
                    @content
                    @includes.footer()
                </div>
            </div>
        </div>
    </div>
</div>
@includes.scripts(recaptchaEnabled: Boolean)
</body>
</html>
