@import io.sdkman.repos.Candidate
@(candidates: Seq[Candidate])
@main(title = "Available SDKs") {
<div id='content' class='page-1'>
    <div class='row'>
        <div class='row-fluid'>
            <div class='col-lg-3'>
                <ul class='nav-sidebar'>
                    <li class='active'><a href='/sdks'><strong>Available SDKs</strong></a></li>
                    @for(c <- candidates) {
                    <li><a href='#@{c.candidate}' class='anchor-link'>@{c.name}</a></li>
                    }
                </ul>
            </div>
            <div class='col-lg-8 col-lg-pull-0'>
                <h1><a name='main'></a><i class='fa fa-cloud-download'></i> SDK Installation Candidates</h1>
                @includes.advertisement()
                <ul>
                    @for(c <- candidates) {
                    <a name='@c.candidate'></a>
                    <li>
                        <h4>@c.name (@c.default.getOrElse("Coming soon!"))</h4>
                        <a href='@c.websiteUrl' target='_blank'>@c.websiteUrl</a></br>
                        <p>@c.description</p>
                        <code>sdk install @c.candidate</code>
                        <hr/>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}
